.Todo {
    background: white;
    vertical-align: middle;
    display: flex;
    margin-bottom: 10px;
    padding: 10px;
    box-shadow: 1px 2px 3px #969696;
    color: #363636;
}

.Todo .text {
    line-height: 1.8;
}

.Todo button {
    height: 30px;
}

.Todo .checkbox {
    margin-right: 5px;
    background: none;
    border-radius: 50%;
    min-width: 30px;
    border: 1px solid #ccc;
    cursor: pointer;
    transition-duration: 400ms;
}

.Todo .checkbox.completed {
    background: rgb(131, 214, 163);
    border: none;
}

.Todo .checkbox.completed:hover,
.Todo .checkbox.completed:active,
.Todo .checkbox.completed:focus {
    background: rgb(167, 227, 190);
}

.Todo .checkbox:before {
    content: "✔";
    color: white;
    position: relative;
    right: 1px;
    bottom: 1px;
    font-size: 1.3rem;
    transition-duration: 200ms;
}

.Todo .checkbox:hover:before,
.Todo .checkbox:active:before,
.Todo .checkbox:focus:before {
    color: rgb(231, 231, 231);
}

.Todo .checkbox.completed:hover:before,
.Todo .checkbox.completed:active:before,
.Todo .checkbox.completed:focus:before {
    color: white;
}

.Todo button.delete {
    margin-left: auto;
    margin-right: 2px;
    background: url('../../assets/trash.svg');
    background-repeat: no-repeat;
    background-position-y: center;
    border: none;
    cursor: pointer;
    width: 30px;
    transition-duration: 200ms;
}

.Todo button.delete:hover,
.Todo button.delete:active,
.Todo button.delete:focus {
    filter: brightness(80%);
}