.AddTodo {
    background: white;
    vertical-align: middle;
    display: flex;
    margin-bottom: 10px;
    padding: 10px;
    box-shadow: 2px 3px 3px #949494;
}

.AddTodo input {
    width: 100%;
    border: none;
    border-bottom: 1px solid #eee;
    padding-left: 5px;
    font-size: 1rem;
}

.AddTodo button {
    margin-left: 10px;
    background: rgb(193, 193, 193);
    color : white;
    border: none;
    border-radius: 50%;
    min-width: 30px;
    max-width: 30px;
    min-height: 30px;
    max-height: 30px;
    margin-right: 5px;
    pointer-events: none;
    transition-duration: 400ms;
    background: url('../../assets/add.svg');
    background-repeat: no-repeat;
    background-position-y: center;
    filter: grayscale(100%);
}

.AddTodo button.active {
    cursor: pointer;
    pointer-events: auto;
    filter: grayscale(0%);
}

.AddTodo button.active:hover,
.AddTodo button.active:focus,
.AddTodo button.active:active{
    filter: brightness(105%);
}