@import url('https://fonts.googleapis.com/css?family=Raleway');

.App {
  min-height: calc(100vh - 70px);
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
}

.App h1,
.App h2 {
  font-family: 'Raleway', sans-serif;
  margin-bottom: 10px;
  margin-top: 0px;
  padding-top: 25px;
}

.App #clearCompleted {
  background: indianred;
  border: none;
  color: white;
  height: 44px;
  font-size: 1rem;
  cursor: pointer;
  float: right;
  width: 250px;
  opacity: 0;
  transition: all 200ms;
}

.App #clearCompleted.active {
  opacity: 1;
}

.App #clearCompleted.active:hover {
  background: #d96b6b;
}

.taskTransition-enter {
  transform: translate(-120%);
}

.taskTransition-enter.taskTransition-enter-active {
  transform: translate(0%);
  transition: transform 500ms;
}

.taskTransition-leave {
  transform: translate(0%);
}

.taskTransition-leave.taskTransition-leave-active {
  transform: translate(-120%);
  transition: transform 500ms;
}

@media (max-width: 381px) {
  .App h1,
  .App h2 {
    font-size: 1.7rem;
  }
}

@media(max-width: 700px) {
  .App #clearCompleted {
    width: 100%;
  }
}